[Unit]
Description=sgroups
Documentation=https://docs.hbf.fraima.io
After=network.target

[Service]
ExecStart=/usr/bin/sgroups --config=/etc/hbf/server/config.yaml
Restart=always
RestartSec=5
Delegate=yes
KillMode=process
OOMScoreAdjust=-999
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target