.main-wrapper {
  width: 100%;
}

.navbar__inner {
  @media (min-width: 1440px) {
    width: var(--ifm-custom-container-width-xl);
    margin: 0 auto;
  }
}

.main-wrapper {
  @media (min-width: 997px) {
    max-width: var(--ifm-custom-container-width);
    margin: 0 auto;
  }
  @media (min-width: 1440px) {
    max-width: var(--ifm-custom-container-width-xl);
  }
}
