.container {
  padding: 50px 15px;
}

.grid {
  display: grid;
  margin-top: 45px;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
